@page "/account"


<div class="row my-5">
    <div class="col-lg-6 col-xl-4 offset-lg-3 offset-xl-4">
        <RadzenCard class="m-3">
            <h3 class="h5">Contact</h3>
            <div class="d-flex flex-row">
                <RadzenImage Path="https://i.guim.co.uk/img/media/a5fb31e646d2677f9d44104a3b26ee42955f0acc/0_170_5100_3059/master/5100.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=2ec8ac4b286a1d650f5f5047f7345b79" Class="rounded-circle float-left mr-3" Style="width: 100px; height: 100px;" />
                <div>
                    <div>Name</div>
                    <b>"Rubber Ducky"</b>
                    <div class="mt-3">Status</div>
                    <b>Pool Monitor</b>
                </div>
            </div>
        </RadzenCard>
        <RadzenCard class="m-3">
            <h3 class="h5">Personal Information</h3>
            <div class="row">
                <div class="col-md-4">
                    <div>Country</div>
                    <b>United States</b>
                    <div class="mt-3">City</div>
                    <b>San Franscisco</b>
                </div>
                <div class="col-md-8">
                    <div>Ship name</div>
                    <b></b>
                    <div class="mt-3">Freight</div>
                    <b></b>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>

@code {

}
