@page "/"

<RadzenCard>
    <h2 class="mb-4">Register and password reset</h2>
    <RadzenTemplateForm Data=@("LoginWithRegisterAndReset")>
    <RadzenLogin Login=@(args => OnLogin(args, "Login with register and password reset")) 
                    ResetPassword=@(args => OnResetPassword(args, "Login with register and password reset"))
                    Register=@(args => OnRegister("Login with register and password reset")) />
    </RadzenTemplateForm>
</RadzenCard>

@code {
    string userName = "admin";
    string password = "admin";

    void OnLogin(LoginArgs args, string name)
    {
        //console.Log($"{name} -> Username: {args.Username} and password: {args.Password}");
    }

    void OnRegister(string name)
    {
        //console.Log($"{name} -> Register");
    }

    void OnResetPassword(string value, string name)
    {
        //console.Log($"{name} -> ResetPassword for user: {value}");
    }
}